 {% extends "base_generic.html" %}
{% load bootstrap %}
{% load static %}

{% block content %}

<div class="col-xl-6" style="margin-left: 180px">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">

                            <div class="custom-title-wrap bar-primary">
                                <div class="custom-title">Ajout de utilisateur</div>
                                 {% if messages %}
                                     {% for message in messages %}
                                         <div class="alert alert-{{message.tags}}">
                                            {{message}}
                                         </div>
                                     {% endfor %}
                                   {% endif %}
                            </div>
                        </div>
                      <div class="card-body">


  <form method="post" >
    {% csrf_token %}
      {{ form|bootstrap }}




    <input type="submit"  class="btn btn-purple float-right" value="Enregistrer" />

  </form>



   </div>
</div>

{% endblock %}